body{
    margin: 0;
}

canvas{
    margin: 0;
    background: rgb(32, 32, 57);
}

#imgBall, #imgBrick{
    display: none;
}


/*#mainDiv{
    height: 900;
    width: 700;
    border: 2px solid blue;

}*/

/*#mainDiv{
    margin-left: 15px;
}*/


#gameScreen{
   /* background: darkgray;
   */
}