html, body{
    width: 100%;
    height: 100%;
    background: rgb(32, 32, 57);
    margin: 0;
}

/* canvas{
    border: 1px solid chocolate;
} */

#imgBall, #imgBrick{
    display: none;
}


/*#mainDiv{
    height: 900;
    width: 700;
    border: 2px solid blue;

}*/

/*#mainDiv{
    margin-left: 15px;
}*/


/* #gameScreen{
    background: darkgray;
   
} */

.circle{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 15px;
}

